{
  "name": "{{SKILL_NAME}}",
  "description": "{{SKILL_DESCRIPTION}}",
  "version": "{{VERSION}}",
  "author": {
    "name": "{{OWNER}}"
  },
  "homepage": "https://github.com/{{OWNER}}/{{REPO}}",
  "license": "{{LICENSE_TYPE}}"
}
